body {
    font-weight : 400;
    font-size: 16px;
}
.logo01{
    height: 50px;
}
.logo02 {
    height : 150px;
}
#jumbo-01{
    height: auto;
    /* width : 100%; */
    background-color: #000000;
    /*background: url("/src/img/res/fib-opt.jpg");*/
    background-blend-mode: screen;
}
#jumbo-01 a{
    outline-width: 1px;
    color : white;
    text-decoration: none;
    outline: #666666;
}
#jumbo-01 #p{
    color : white;
    font-size: large;
}
#jumbo-01 h1{
    color : white;
    font-size: 54px;
    font-weight: 200;
}
.slogan-01{
    font-weight: 400;
    font-size: x-large;
    color : white;
}
.slogan-02{
    font-weight: 300;
    color : white;
    font-size: x-large;
}
#partner-01 {
    height:auto;
    font: 100px;
    background-color: #666666;
}
footer {
    background-color:#000000;
    opacity: 100%;
}
#footer-logo {
    height: 70px;
}
.left-part a i{
    color : white;
}
.right-part h4{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
}
.right-part a{
    font-size: 16px;
    font-weight: 300;
    color : #0054d2;
    text-decoration: none;
}
.social-icons a{
    font-size: 16px;
    font-weight: 200;
    color : white;
    text-decoration: none;
}
.right-part a:hover{
    color : white;
    opacity : 100%;
    text-decoration-color: white;
    font-weight: 400;
}
.right-part #addr{
    font-size: 14px;
    font-weight: 300;
    color : white;
}
#contact-form {
    background-color: #0054d2;
    opacity: 100%;
}
#contact-form h3{
    color : #ffffff;
}
#contact-send {
    background-color: #000000;
    color :white;
}
#contact-info {
    background-color: #000000;
    opacity : 100%;
    color : white;
    
}
#contact-info #info{
    font-weight: 300;
    opacity : 100%;
}
#main-contact .cont{
    background-image: url("/src/img/res/hero.png");
    background-size: cover;
}
#row-01 #row-02{
    /*background: url("/src/img/res/fib-opt.jpg");*/
    background-size: cover;
    height : 300px;
    /* background-color: #666666; */
    background-blend-mode: screen;
    opacity : 100%;
    color : #5e3a79;
}
#cat {
    background-color: #0054d2;
    fill-opacity: 50%;
    color: #ffffff;
}
.circle-icon {
    background : #0054d2;
    width : 25px;
    height : 25px;
    border-radius: 75%;
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
}
.circle-icon:hover {
    color : #0054d2;
    background-color: #ffffff;
}